body {
  font-family: sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: black;
}
h1{
  color:red;
}
h3 {
  color:blue;
  text-align: center;
  margin-top: 2px;
}
.container {
  height: 200px;
  display: flex;
  align-items: flex-end;
  margin-top: 70px;
}
.btn-container {
  margin-top: 30px;
  gap: 50px;
}
button {
  border-radius: 10px;
  padding: 12px;
  font-weight: 700;
  background-color: blue;
  color: red;
}
button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.bar {
  width: 8px;
  /* background-color: white; */
  background-color:  rgb(245, 180, 180);
  margin: 1px;
}
.option-value {
  margin-top: 1.5rem;
}
#sort-select {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.option {
  font-weight: 400;
}
